.m-auto {
    margin: auto
}

.mx-auto {
    margin: 0 auto
}

.full-height {
    min-height: 100vh;
    height: 100vh;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-right {
    border-right: 1px solid
}

.pl-3 {
    padding-left: 3rem
}

.btn {
    border: none;
    cursor: pointer;
    padding: 2rem 4rem;
    color: inherit;
}

.text-right {
    text-align: right
}