/* left-side */

.bots__left-menu{
    position: fixed;
    left: 113px;
    max-width: 364px;
    width: 100%;
    padding-top: 20px;
    height: calc(100vh - 70px);
}

.bots__search{
    display: flex;
}

.search__input{
    height: 43px;
    width: 312px;
    border-right: none;
}

.search__button-search{
    height: 43px;
    width: 52px;
    background-color: #EFEFEF;
    background-image: url(../img/icon/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    border: 1px solid #C4C4C4;
    border-left: none;
    margin-bottom: 5px;
}

.bots__item{
    position: relative;
    margin-top: 5px;
    width: 364px;
    height: 63px;
    font-size: 18px;
    font-weight: 500;
    line-height: 63px;
    opacity: 0.6;
    padding-left: 40px;
    background-color: #DCDCDC;
    cursor: pointer;
}

.bots__button-add{
    width: 364px;
    height: 63px;
    background-color: #C4C4C4;
    font-size: 18px;
    color: #000;
    position: absolute;
    bottom: 0;
}

/*  */




/* right-side */

.bots__right-settings{
    max-width: 756px;
    width: 100%;
    border: 1px solid #EFEFEF;
    margin-top: 20px;
    margin-left: 384px;
    padding: 20px;
}

.settings__header{
    display: flex;
    align-items: center;
}

.bots__name{
    font-size: 25px;
    font-weight: 500;
}

.settings__type{
    color: #B4B4B4;
    font-size: 16px;
    margin-left: 10px;
}

.button__freeze{
    background: none;
    text-decoration: underline;
    font-weight: 500;
    font-size: 13px;
    margin-right: 15px;
}

.bots__buttons-status{
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.settings__description{
    display: flex;
    flex-wrap: wrap;
}
.settings__item{
    width: 50%;
    margin-bottom: 20px;
}
.settings__content,
.transactions__terms{
    margin-top: 10px;
}

.transactions__terms .settings__input{
    width: 164px;
}

.transactions__terms .settings__input:not(:first-of-type){
    margin-left: 20px;
}

.transactions__terms .page__field{
    flex-direction: row;
    flex-wrap: wrap;
}
.transactions__terms .page__label{
    width: 100%;
}
.transactions__terms .table__td{
    padding: 20px 15px;
}
.transactions__terms .table__tr:last-child{
    border-bottom: 1px solid #E3E3E3;
}
.terms__recommendation{
    flex: 2;
}

.button__change-settings,
.button__remove-bot{
    display: block;
    width: 195px;
    background-color: #72C770;
    color: #fff;
    margin: 0 0 0 auto;
}

.button__remove-bot{
    background-color:#D74C4C;
    margin-left: 20px;
    width: 141px;
}

.bots__button{
    display: flex;
    justify-content: flex-end;
}

/* .pair,
.pair-head,
.quantity-head,
.quantity{
    flex: 0.7;
} */
.order__buttons{

}
.button__cancel-sell,
.button__cancel{
    width: 200px;
    background-color: #DCDCDC;

}

.button__cancel{
    margin-left: 15px;
}

.settings__item,
.settings__item span{
    font-size: 15px;
}
.settings__item{
    font-weight: 500;
}

.header__title{
    font-size: 25px;
    font-weight: 500;

}
.add__header{
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 13px;
    margin-bottom: 10px;
}


/* Bots Settings */

.bots__settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bots__settings .page__field{
    margin-left: 0;
    margin-top: 13px;
}

.bots__settings .page__label{
    width: 225px;
}

.label__double-row{
    margin-bottom: 0;
}

.bots__settings .checkbox__container{
    width: 225px;
}

.bots__settings .checkbox__container::after{
    content: none;
}

.bots__martingeil{
    margin-top: 13px;
}

.martingeil__mode{
    font-size: 15px;
}

.settings__input-range{
    outline: none;
}

.range__value{
    font-size: 13px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

.button__add-bot,
.button__add-new-conditions{
    display: block;
    width: 164px;
    background-color: #72C770;
    color: #fff;
    margin: 0 0 0 auto;
}
.button__add-bot{
    margin-top: 35px;
}

.automatic-settings .transactions__terms{
    margin-top: 20px;
}

.automatic-settings .terms__recommendation{
    flex: 1;
}
.transactions__terms .terms__delete{
    padding: 0;
    flex: 0.6;
}
.button__remove-conditions{
    width: 38px;
    height: 38px;
    background-color: #D74C4C;
    background-image: url(../img/icon/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}
