html, body{
    min-height: 100vh;
}

body *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3D3D3D;
}

ul {
    list-style: none;
}

#wrapper{
    min-height: 100vh;
}

.page__header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.page__header-content{
    padding: 0 113px;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-navigation__item{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.main-navigation__item a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.logout{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.main-navigation__item:not(:last-child){
    margin-right: 20px;
}

.page__main{
    padding: 70px 113px 20px;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 70px);
}

.page__input,
.page__select{
    border: 1px solid #C4C4C4;
    padding: 0 10px;
    font-size: 14px;
}

.page__select{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.page__select{
    /* content: ' ';
    position: absolute;
    display: block;
    width: 16px;
    height: 8px; */
    background-image: url(../img/icon/select.png);
    background-position: right 15px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 16px 8px;

}
.page__button{
    height: 38px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
}


.page__label,
.page__label span{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 11px;
}

.field__unavailable{
    opacity: 0.5;
}

.page__field{
    display: inline-flex;
    flex-direction: column;
}

.page__field:not(:first-child){
    margin-left: 15px;
}

.settings__input{
    width: 225px;
    height: 38px;
}


/* TABLE SETTING */

.page__table{
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
}
.table__tr{
    display: flex;
    border-bottom: 1px solid #E3E3E3;
}
.table__tr:last-child{
    border-bottom: none;
}
.table__td,
.table__th{
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0;
    text-align: start;
    display: flex;
    align-items: center;
}

/*    */


/* TABS BAR */

.tabs__bar{
    border-bottom: 1px solid #CECECE;
}

.tabs__item{
    display: inline-block;
    padding: 13px 14px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.tabs__content{
    padding: 0 14px;
}


/*  */












/* RADIO POINT */
.radio__point{
    position: relative;
    background: transparent;
    margin-right: 5px;
    width: 8px;
}
.radio__point:after{
    content: '';
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #DCDCDC;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 0;
}
.radio__point:checked:after{
    background-color: #2B68E0;
    /* background-image: url(../img/icon/checkmark.png); */
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.bots__type-work{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 10px;
}
.checkbox__container{
    margin-top: 20px;
}


/*  */






/* CHECKBOX IPHONE*/

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox__text {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox__text:after {
    content: '';
    position: absolute;
    top: -9px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox input:checked + .checkbox__text:before {
    background: #72C770;
}
.checkbox input:checked + .checkbox__text:after {
    left: 26px;
}
.checkbox input:focus + .checkbox__text:before {
  /* box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7); */
}

/*  */



/* INPUT RANGE */


/* kit */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 1px;
    background-color: #E9E9E9;
    border: 1px solid #DCDCDC;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #C4C4C4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}

/* Firefox */
input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 1px;
    background-color: #E9E9E9;
    border: 1px solid #DCDCDC;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: #C4C4C4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}

/* IE */

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}
input[type=range]::-ms-track {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 1px;
    background-color: #E9E9E9;
    border: 1px solid #DCDCDC;
}

input[type='range']::-ms-thumb {
    -webkit-appearance: none;
    background-color: #C4C4C4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}



/* page switcher */
.page__page-switch{
    margin: 20px 0;
}

.page__list{
    list-style: none;
    display: flex;
    align-items: center;
}

.page__page-point{
    cursor: pointer;
    font-size: 14px;
    padding: 5px 3px;
    font-weight: 500;
}

.page__page-point.active{
    color: #2B68E0;
}