.form-wrapper {
    height: 100%;
    position: relative;
}

.form {
    max-width: 36.3rem;
    padding: 1.9rem;
}

.form__control:not(:last-child) {
    margin-bottom: 2rem;
}

.form__label {
    display: block;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form__header {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 3.3rem;
}

.form__input {
    width: 100%;
    padding: 1.45rem 1.8rem;
}
.form__button {
    color: #fff;
    background-color: var(--color-accent);
    padding: 1rem 4rem;
    border: none;
    cursor: pointer
}

.form__button--success {
    background-color: var(--color-accent);
}

.form__button--danger {
    background-color: var(--color-danger);
}

.form__button--disabled {
    opacity: .5
}

.form__question {
    margin-top: 1rem;
    font-size: 1.4rem;
}
